<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main h-dvh bg-zinc-800 text-white">
        <div class="form">
            <form action="/create" method="post" class="w-dvw flex flex-col p-5 w-3/5 items-center">
                <input class="w-2/5 p-2 rounded bg-zinc-700 " type="text" name="title" placeholder="Name of Task.">
                <textarea class="w-2/5 p-2 mt-2 rounded bg-zinc-700 resize-none" name="desc" placeholder="Write about the task."></textarea>
                <input class="w-1/6 mt-2 bg-sky-400 hover:bg-sky-500 focus:ring active:bg-sky-600 cursor-pointer rounded p-2" type="submit" value="Create Task">
            </form>
        </div>
        <div class="tasks flex mt-5 justify-center">

            <% if (files.length > 0)  {%>
                <% files.forEach(function(val) { %>
                    <div class="task bg-zinc-700 w-72 m-5 rounded-lg pb-4">
                        <h1 class="text-lg pt-2 mx-2 mb-4"><%= val %></h1>
                        <a href="/file/<%= val %>" class="mt-2 ml-2 bg-sky-500 cursor-pointer rounded-lg px-2 py-2 pt-1 pb-1">Read More.</a>
                    </div>
                <% })%>
            <% } else { %>
                <h1>No tasks currently !</h1>
            <% } %>

        </div>
    </div>
</body>
</html>