<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main h-dvh bg-zinc-800 text-white">
        <div class="showing p-10">
            <a href="/" class="text-sky-500">Go Back Home!</a>
            <h1 class="m-5 block"><%= filename %></h1>
            <h2 class="m-2 block"><%= filedata %></h2>
        </div>
    </div>
</body>
</html>