<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main h-dvh bg-zinc-800 text-white">
        <div class="showing p-10">
            <a href="/" class="text-white bg-sky-400 p-2 rounded-md">Go Back Home!</a>
            <div class="bg-zinc-600 mt-3 rounded-lg">
                <h1 class="block text-3xl bg-zinc-700 w-full rounded-lg p-5"><%= filename %></h1>
                <h2 class=" block text-2xl mt-3 p-3 ml-3"><%= filedata %></h2>
            </div>
        </div>
    </div>
</body>
</html>
